.bookmark-reminders,
.bookmark-reminders:has(~ .tc-right-sidebar) {
  display: none;
}

@media screen and (min-width: 767px) {
  .bookmark-reminders {
    display: block;
    background: var(--tertiary-very-low); /* fallback for old browsers */
    background: linear-gradient(135deg, $color_1, $color_2);
    box-sizing: border-box;
    float: right;
    padding: 1.5rem 1.3rem;
    border-radius: var(--d-border-radius-large);
    box-shadow: 2px 4px 12px rgba(var(--tertiary-rgb), 0.2);
    width: 100%;

    &:not(.tc-right-sidebar &) {
      width: 25%;
    }

    ~ #list-area {
      width: calc(75% - 2.5em);
      float: left;
    }

    &__title {
      margin-bottom: 0.5rem;

      h3 {
        margin: 0;
      }
    }
    &__bookmark {
      display: flex;
      flex-direction: column;
      padding-block: 0.25rem;
    }
    &__note {
      color: var(--primary-high);
      font-style: italic;

      .d-icon {
        margin-right: 0.25em;
      }
    }

    &__item {
      display: flex;
      gap: 0.25rem;

      &.--overdue {
        flex-direction: column;
        gap: 0;
      }
    }

    &__overdue {
      font-size: var(--font-down-1-rem);
      color: var(--danger);
    }
    &__link {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__subtitle {
      margin-bottom: 0.25em;
      padding-bottom: 0.25rem;
      margin-top: 1.5em;
      border-bottom: 1px solid rgba(var(--primary-rgb), 0.1);

      &.--overdue {
        color: var(--danger);
      }
    }

    &__empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
    }

    &__empty-placeholder {
      width: 100%;
      max-width: 150px;
    }
    &__empty-text {
      background: rgba(var(--secondary-rgb, 0.6));
      padding: 0.4em 0.8em;
      border-radius: 0.4em;
    }
  }
}
